<div class="no-privileges" *ngIf="usr === ''">
  <h2>Usted no tiene privilegios</h2>
</div>

<div *ngIf="usr !== ''" class="modal-wrapper">
  <div class="img-container">
    <div>
      <img
        class="mat-elevation-z4"
        [src]="userImg || defaultImg"
        alt="User phot"
      />
      <div class="upload-overlay" matRipple>
        <mat-icon>cloud_upload</mat-icon>
      </div>
    </div>
    <!-- <div>
      <input id="input-file-id" multiple type="file" disabled />
      <label
        disabled
        ripple
        for="input-file-id"
        class="mat-stroked-button mat-raised mat-primary"
      >
        <mat-icon>cloud_upload</mat-icon>Cargar
      </label>
    </div> -->
  </div>
  <div class="modal-form" [formGroup]="form">
    <h1 class="modal-title">
      <span>Configuración de usuarios </span>
      <mat-spinner
        mode="indeterminate"
        *ngIf="isLoading"
        color="primary"
        [diameter]="30"
      ></mat-spinner>
      <small
        [ngClass]="{ 'error-small': error, 'error-success': errorSuccess }"
        >{{ error }}</small
      >
    </h1>
    <mat-form-field>
      <input
        formControlName="frdominioInput"
        #dominioInput
        matInput
        placeholder="Usuario dominio"
        (blur)="getUsuarioDom(dominioInput.value, 'C')"
        (keyup.tab)="getUsuarioDom(dominioInput.value, 'C')"
        (keyup.enter)="getUsuarioDom(dominioInput.value, 'C')"
      />
      <mat-icon matSuffix>groups</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de usuarios</mat-label>
      <mat-select
        #tipoSelect
        matNativeControl
        (selectionChange)="getUserTag($event)"
        formControlName="frtipoSelect"
      >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let tipo of tipoUsuario" [value]="tipo">{{
          tipo.DESCRIPCION
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="fridentificacionInput"
        #identificacionInput
        matInput
        placeholder="Doc. Identificación"
      />
      <mat-icon matSuffix>assignment_ind</mat-icon>
    </mat-form-field>

    <mat-form-field class="proveedor-field">
      <mat-label>Proveedor</mat-label>
      <input
        matInput
        placeholder="Proveedor"
        formControlName="frProveedor"
        [matAutocomplete]="autocompleteProveedor"
      />
      <mat-autocomplete
        #userTagInput
        #autocompleteProveedor="matAutocomplete"
        [displayWith]="displayFilteredProveedor"
      >
        <mat-option>--</mat-option>
        <mat-option
          *ngFor="let user of filteredUserTag | async"
          [value]="user"
          >{{ user.DESCRIPCION }}</mat-option
        >
      </mat-autocomplete>
      <mat-spinner
        mode="indeterminate"
        *ngIf="prLoading"
        color="primary"
        [diameter]="20"
      ></mat-spinner>
    </mat-form-field>

    <mat-form-field>
      <input
        #nombreInput
        matInput
        placeholder="Nombres"
        formControlName="frnombreInput"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input
        #apellidoInput
        matInput
        placeholder="Apellidos"
        formControlName="frapellidoInput"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input
        #emailInput
        matInput
        placeholder="Email"
        formControlName="fremailInput"
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <!-- <mat-label>Área</mat-label> -->
      <input
        matInput
        placeholder="Área"
        formControlName="frareaSelect"
        [matAutocomplete]="autocompleteArea"
      />
      <mat-autocomplete
        #areaSelect
        matNativeControl
        #autocompleteArea="matAutocomplete"
        [displayWith]="displayFilteredProveedor"
      >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let area of filteredAreas | async" [value]="area">{{
          area.DESCRIPCION
        }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <!-- <mat-label>Rol</mat-label> -->
      <input
        matInput
        placeholder="Rol"
        formControlName="frrolSelect"
        [matAutocomplete]="autocompleteRol"
      />
      <mat-autocomplete
        #rolSelect
        matNativeControl
        #autocompleteRol="matAutocomplete"
        [displayWith]="displayFilteredProveedor"
      >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let rol of filteredRoles | async" [value]="rol">{{
          rol.DESCRIPCION
        }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <!-- <mat-label>Tienda</mat-label> -->
      <input
        matInput
        placeholder="Tienda"
        formControlName="frtiendaSelect"
        [matAutocomplete]="autocompleteTienda"
      />
      <mat-autocomplete
        color="warn"
        #tiendaSelect
        matNativeControl
        #autocompleteTienda="matAutocomplete"
        [displayWith]="displayFilteredProveedor"
      >
        <mat-option>--</mat-option>
        <mat-option
          *ngFor="let tienda of filteredTiendas | async"
          [value]="tienda"
          >{{ tienda.DESCRIPCION }}</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>

    <div class="activo-toggle">
      <mat-slide-toggle
        #activoToggle
        class="example-margin"
        color="primary"
        aria-label="Activo"
        formControlName="fractivoToggle"
      >
        Activo
      </mat-slide-toggle>
    </div>
    <div class="buttons">
      <button
        mat-raised-button
        #saveButton
        color="primary"
        (click)="setUsuario()"
        [disabled]="form.invalid"
      >
        <mat-icon>save</mat-icon>
        Guardar
      </button>
      <button mat-stroked-button color="warn" (click)="closeDialog()">
        <mat-icon>exit_to_app</mat-icon>
        Cancelar
      </button>
    </div>
  </div>
</div>
<!-- dominioInput.value === '' || -->

<!-- tipoSelect.value !== undefined &&
          identificacionInput !== undefined &&
          userTagInput.value !== undefined &&
          nombreInput.nvalue!== undefined &&
          apellidoInput.value !== undefined &&
          passwordInput.value !== undefined &&
          emailInput.value !== undefined &&
          areaSelect.value !== undefined &&
          rolSelect.value !== undefined &&
          tiendaSelect.value !== undefined -->

<!-- [disabled]="
          dominioInput.value === '' ||
          identificacionInput.value === '' ||
          nombreInput.value === '' ||
          apellidoInput.value === '' ||
          passwordInput.value === '' ||
          emailInput.value === '' ||
          tipoSelect.value === undefined ||
          areaSelect.value === undefined ||
          rolSelect.value === undefined ||
          tiendaSelect.value === undefined -->
